# Site
ENVIRONMENT=PLACEHOLDER
ARTIFACT_NAME=PLACEHOLDER
DOMAIN=PLACEHOLDER

# DockerHub
DOCKERHUB_USERNAME=PLACEHOLDER
DOCKERHUB_TOKEN=PLACEHOLDER

# GitHub
REPO_TOKEN=PLACEHOLDER

# Traefik Configuration
TRAEFIK_DASHBOARD=true
TRAEFIK_INSECURE=true
ACME_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
ACME_EMAIL=PLACEHOLDER
DISABLE_HTTPS=true
TRAEFIK_DASHBOARD_USERS=PLACEHOLDER
