# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
Gemfile.lock
beautiful-jekyll-theme-*.gem
*.jekyll-cache

# Drawio
*.bkp

# Secrets
.env
.env.*
!.env.example
traefik/acme.json
traefik/traefik.yml
traefik/certs/
certbot/
.cache_ggshield
certs