# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# IDE
Gemfile.lock
beautiful-jekyll-theme-*.gem
*.jekyll-cache

# Drawio
*.bkp

# Secret
.env
.env.*
!.env.example
certbot/
.cache_ggshield
certs