.blog-post a.btn {
    font-family: arial;
  }
  
  a {
    text-decoration: underline;
    color: #404040;
  }
  .navbar a, a.btn, .pagination a, .footnote-ref {
    text-decoration: none;
  }
  .beautiful-jekyll-footer .copyright a {
    text-decoration: none;
  }
  
  #full-tags-list .tag-entry a {
    text-decoration: none;
  }
  #full-tags-list .tag-entry a:hover {
    text-decoration: underline;
  }
  
  /* Button - call-to-action */
  
  .btn-cta {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  
  .btn-cta:hover {
    color: #fff;
    background-color: #2568a1;
    border-color: #2568a1;
  }
  .btn-cta:focus {
    color: #fff;
  }
  
  /* --- Share section --- */
  
  .share-section {
    padding: 1.875rem 0.9375rem 2.1875rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    box-shadow: 0 0 0.625rem #e7e7e7 inset;
    background: #fcfcfc;
    text-align: center;
  }
  
  .share-section .share-title {
    margin-top: 0;
    font-size: 1.875rem;
  }
  
  .share-section .share-buttons {
    margin-top: 0.9375rem;
  }
  
  .share-section .share-buttons a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0.625rem 0.9375rem;
    background: #e7edff;
    border-radius: 0;
    color: #404040;
    text-decoration: none;
    margin-left: 1.25rem;
    display: inline-block;
    border: 1px solid #e2eaff;
    font-size: 0.875rem;
  }
  
  .share-section .share-buttons a:hover,
  .share-section .share-buttons a:focus {
    color: #FFF;
    background: #0085a1;
    border-color: #0085a1;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform 250ms;
    -moz-transition: -moz-transform 250ms;
    -webkit-transition: -webkit-transform 250ms;
  }
  
  .share-section .share-buttons a:first-child {
    margin-left: 0;
  }
  
  @media only screen and (min-width: 768px) {
    .share-section {
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
    }
    .share-section .share-title {
      font-size: 2.8125rem;
    }
    .share-section .share-buttons {
      margin-top: 1.875rem;
    }
    .share-section .share-buttons a {
      padding: 0.9375rem 1.5625rem;
      margin-left: 1.875rem;
      font-size: 1.125rem;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .share-section .share-buttons a {
      display: block;
      margin-left: 0;
      margin-top: 0.625rem;
    }
    .share-section .share-buttons a:first-child {
      margin-top: 0;
    }
  }
  
  /* --- Email subscription --- */
  
  .subscribe-section {
    margin-top: 0.625rem;
    border-top: 0.1875rem double #fff;
    padding-top: 0.625rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  #subscribe-section-share,
  #subscribe-section-footer {
    border-top: 0 none;
    width: 75%;
  }
  #subscribe-section-share {
    margin: 0.9375rem auto 0;
  }
  #subscribe-section-footer {
    margin: 0 auto;
    padding-top: 0;
  }
  @media only screen and (max-width: 500px) {
    #subscribe-section-share {
      width: 100%;
      margin: 0.625rem 0 0 0;
    }
  }
  .subscribe-section .container {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .subscribe-section .container .row {
    padding: 0;
    margin: 0;
  }
  .subscribe-section .container .row .col-xs-12,
  .subscribe-section .container .row .col-sm-8,
  .subscribe-section .container .row .col-sm-4 {
    margin: 0;
    padding: 0 0.125rem;
  }
  #subscribe-section-share label {
    font-size: 1rem;
    margin-bottom: 0.4375rem;
    font-weight: normal;
    display: block;
  }
  .subscribe-section .email {
    padding: 0 0.625rem;
    border: 1px solid #ABB0B2;
    border-radius: 0.1875rem;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0.3125rem;
    width: 100%;
  }
  .subscribe-section .button {
    border-radius: 0.1875rem;
    font-weight: bold;
    border: 1px solid #ABB0B2;
    color: #2c8a3d;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    transition: all 0.23s ease-in-out 0s;
    margin: 0; 
    letter-spacing: 0.0625rem;
    width: 100%;
  }
  #subscribe-section-footer #mc-embedded-subscribe-footer {
    color: #333333;
  }
  #subscribe-section-share #mc-embedded-subscribe-share:hover {
    background-color: #f8f8f8;
    color: #000;
    cursor: pointer;
  }
  #subscribe-section-footer #mc-embedded-subscribe-footer:hover {
    background-color: #2c8a3d;
    color: #f0f0f0;
    cursor: pointer;
  }
  
  .subscribe-section .email,
  .subscribe-section .button {
    height: 1.875rem;
    font-size: 0.875rem;
  }
  
  @media only screen and (min-width: 980px) {
    #subscribe-section-share #mc_embed_signup-share label {
      font-size: 1.125rem;
      margin-bottom: 0.1875rem;
    }
    .subscribe-section .email,
    .subscribe-section .button {
      height: 2.1875rem;
    }
  }
  @media only screen and (max-width: 979px) {
    .subscribe-section .email {
      margin-bottom: 0.1875rem;
    }
  }
  
  /* --- Scroll box --- */
  
  #scroll-box {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    right: 0.8125rem;
    bottom: 0.8125rem;
    border-radius: 0.3125rem;
    z-index: 999999;
    text-align: center;
    color: #fff;
    background: #e53243;
    padding: 0.9375rem 1.25rem 1.25rem;
    box-shadow: 0 0 0.5rem #c02836;
    opacity: 0;
    visibility: hidden;
    transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
    -webkit-transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
    -moz-transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
  }
  
  body.scroll-box-on #scroll-box {
    opacity: 1;
    visibility: visible;
  }
  
  #scroll-box hr {
    display: none;
    margin: 0.625rem auto;
    width: 80%;
    border: none;
    border-top: 0.1875rem double #fff;
  }
  
  #scroll-box-close {
    position: absolute;
    font-size: 1.625rem;
    right: 0.25rem;
    font-family: serif;
    color: #EAEAEA;
    line-height: 0;
    top: 0.6875rem;
    cursor: pointer;
  }
  #scroll-box-close:hover {
    color: #fff;
  }
  
  #scroll-box-hire {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
  }
  
  #scroll-box-hire a,
  #scroll-box-support a {
    color: #fff;
    font-weight: 700;
  }
  
  #scroll-box-hire a:hover,
  #scroll-box-support a:hover {
    color: #f0f0f0;
  }
  
  @media only screen and (max-width: 800px) {
    #scroll-box {
      bottom: 0;
      right: 0;
      border-width: 0.1875rem 0.1875rem 0;
      width: 100%;
      border-radius: 0;
    }
    body.scroll-box-on footer {
      padding-bottom: 8.4375rem;
    }
  }
  
  @media only screen and (max-width: 550px) {
    #scroll-box {
      padding: 1rem 0.625rem;
    }
    #scroll-box hr {
      width: 50%;
    }
    #scroll-box-hire {
      font-size: 1.125rem;
    }
    scroll-box-support {
      font-size: 1rem;
    }
    #scroll-box-close {
      right: 0.1875rem;
      top: 0.75rem;
    }
    #subscribe-section {
      margin-bottom: 0.4375rem;
    }
    body.scroll-box-on footer {
      padding-bottom: 7.1875rem;
    }
  }
  
  /* Disqus comments - hide the ads */
  #disqus_thread iframe[src*="ads-iframe"] {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .comments {
      margin-top: 2.5rem;
    }
  }
  .comments {
    margin-top: 1.875rem;
  }
  
  /* Promo box */
  
  #support-promo-section {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #404040;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 1.25rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1.5625rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
    -webkit-box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
    -moz-box-shadow: 0 0 0.4375rem rgba(100,100,100,0.3);
  }
  #support-promo-section {
    background: #008099;
    border-color: #008099;
    color: white;
    box-shadow: 0 0 0.4375rem #008099;
    -webkit-box-shadow: 0 0 0.4375rem #008099;
    -moz-box-shadow: 0 0 0.4375rem #008099;
  }
  #support-promo-section:hover {
    background: #01768d;
    cursor: pointer;
  }
  #support-promo-section .btn {
    margin-top: 0.625rem;
    font-weight: bold;
    color: #008099;
    background: white;
  }
  #support-promo-section .btn:hover {
    background: #eaeaea;
  }
  @media only screen and (max-width: 767px) {
    #support-promo-section {
      font-size: 1.125rem;
    }
    #support-promo-section .btn {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 500px) {
    #support-promo-section {
      font-size: 1rem;
    }
    #support-promo-section .btn {
      font-size: 0.875rem;
    }
  }
  
  /* Carbon ads */
  div[role=main],
  article[role=main] {
    position: relative;
  }
  
  #carbonads {
    display: block;
    overflow: hidden;
    text-align: center;
    font-family: "Open Sans", Lora, Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 0.8125rem;
    width: 8.125rem;
    float: right;
    margin: 0 0 0.625rem 0.625rem;
    border: 1px solid #DDDDDD;
  }
  
  @media only screen and (min-width: 1150px) {
    #carbonads {
      position: absolute;
      top: 0;
      right: -8.4375rem;
      float: none;
      margin: 0;
    }
  }
  
  #carbonads a {
    color: inherit;
    text-decoration: none;
  }
  
  #carbonads a:hover {
    color: inherit;
    text-decoration: underline;
  }
  
  #carbonads span {
    display: block;
    overflow: hidden;
  }
  
  .carbon-img {
    display: block;
    margin: 0 auto;
  }
  
  .carbon-img img {
    margin-bottom: 0.75rem;
  }
  
  .carbon-text {
    display: block;
    margin-bottom: 0.75rem;
  }
  
  .carbon-poweredby {
    display: block;
    letter-spacing: 0.0625rem;
    font-size: 0.625rem;
    line-height: 1;
  }
  
  @media only screen and (max-width: 1149px) {
    #deancarbonads.sm-horizontal #carbonads{
      max-width: 25rem;
      width: inherit; 
      float: none;
      margin: 0 auto 0.9375rem;
    }
    #deancarbonads.sm-horizontal #carbonads span {
      position: relative;
    }
    #deancarbonads.sm-horizontal .carbon-img {
      margin: 0 0.625rem 0 0;
      float: left;
    }
    #deancarbonads.sm-horizontal .carbon-img img {
      margin-bottom: 0;
    }
    #deancarbonads.sm-horizontal .carbon-text {
      margin-bottom: 0;
      float: left;
      text-align: left;
      max-width: calc(100% - 8.125rem - 0.625rem);
    }
    #deancarbonads.sm-horizontal .carbon-poweredby {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  
  /* Support button in navbar */
  .author-site a {
    padding: 0.1875rem;
  }
  @media (min-width: 768px) {
    .navbar-custom .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
      padding-right: 1rem;
    }
  }
  
  .youtube-embed-container {
    position: relative; 
    margin-top: 20px;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
  } 
  .youtube-embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
  }

  .about-text {
    margin-top: 3.5rem;
    text-align: left;
    font-size: 1.125rem;
  }

   /* Button - pdf */
  
   .btn-pdf {
    color: #FFFFFF;                     /* Color del texto (blanco) */
    background-color: #008099;          /* Color de fondo (azul) */
    border-color: #008099;              /* Color del borde (azul) */
    padding: 10px 20px;                 /* Espaciado interno */
    text-decoration: none;               /* Sin subrayado */
    border-radius: 5px;                 /* Bordes redondeados */
    transition: background-color 0.3s;  /* Transici贸n suave para el fondo */
}

.btn-pdf:hover {
    color: #FFFFFF;                     /* Color del texto al pasar el rat贸n (blanco) */
    background-color: #0099A1;;          /* Color de fondo al pasar el rat贸n (color hover) */
    border-color: #0099A1;;              /* Color del borde al pasar el rat贸n (color hover) */
}

.btn-pdf:focus {
    color: #FFFFFF;                     /* Color del texto al recibir foco (blanco) */
}
